<!DOCTYPE html>
<html lang="en">
<head>
    <title>Property.com</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        #p1{
            background-color:coral;
        }
        #p2{
            color: brown;
            font-size: 18px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        #p3{
            color:midnightblue;
        }
       
        
    </style>
      <div class="header">

        <center>
         <a href="/"><img src="../static/images/logo.jfif" alt="logo" /></a>
         <h1>Property.com - <i>Buy or Sell your properties</i></h1>
         <br>
        <h2>Ravipuram Road, Ernakulam South</h2>

        </center>
     </div>
</head>
<body>
   
    <br>
    <br>
    <center>
        <div class="head-tag">
        <a href="/"><strong>Home</strong></a>
        <a href="/reviews"><strong>Reviews</strong></a>
        <a href="/about"><strong>About Us</strong></a>
    </div>
    </center>
    <br>
    <br>
    <br>
        <br>
        <br>
        <p id="p1">
            <b>
            With an enviable culinary heritage dating back to more than seven decades the Paragon Group has set new benchmarks in the restaurant industry. The flagship Paragon restaurant is a true icon of Calicut and the Paragon restaurant in Dubai is one of the most popular restaurants in the UAE. The journey began in 1939 under the visionary leadership of Govindan Panhikeyil along with his son P.M Valsan who opened the first Paragon restaurant in Calicut, Kerala, India. The restaurant reached its position with the third generation of management at the helm – Sumesh Govind and his wife Liju. 

            After initially offering a fusion of the Malabar region's Moplah and Thiyya Cuisines, the master chefs at Paragon have ceaselessly innovated to transform the cuisine over the years. The restaurants reflect the influences from different parts of the world while retaining their traditional roots. They today enjoy cult status in Calicut and Dubai, becoming a part of countless stories, memories and celebrations among our legion of patrons.
            
            Acclaimed as india's best restaurant for coastal cuisine(Times Now Foodie Award) and consistently ranked among Dubai's best restaurants(TimeOut Awards and Ahlan Masala Awards), Paragon continues to set the highest standard of taste and service.
            We hope you have a Paragon experience filled with unmatched taste, delightful contentment and memories to cherish. Bon Appetit
            </b>
        </p>
        <br>
        <br>
        <br>
        <p id="p2">
            <b>Address:</b>
        </p>
        <p id="p3">
        <b>
        Ernakulam South
        Mahatma Gandhi Rd, Kochi, Kerala, India
        <br>
        Ph : 0484 2617832, 9894956611
        </p>
        </b>
        
    </center>
 
</body>
</html>