<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome Home!</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <div class="header">

        <center>
            <h1>Property.com - <i>Buy or Sell your properties</i></h1>
            <br>
           <h3>Ravipuram Road</h3>
           <h4>Ernakulam South</h4>
        </center>
     </div>
         
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <center>
        <div class="head-tag">
        <a href="/addpr"><strong>Add New Property</strong></a>
        <a href="/viewpr"><strong>View Property</strong></a>
        <a href="/searchp"><strong>Search Property</strong></a>
        <a href="/updatep"><strong>Update Property</strong></a>
        <a href="/removepr"><strong>Remove Property</strong></a>
        <a href="/vdata"><strong>Data Visualization</strong></a>
        <a href="/logout"><strong>Logout</strong></a>
        </div>
       </center>
   
    

</body>
</html>