<!DOCTYPE html>
<html lang="en">
<head>
    <title>Property.com</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        #p1{
            background-color:coral;
        }
        #p2{
            color: brown;
            font-size: 50px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        #p3{
            color:midnightblue;
        }
       
        
    </style>
      <div class="header">

        <center>
        
         <h1>Property.com -<i>Buy or Sell your properties</i></h1>
         <br>
        <h2>Ravipuram Road, Ernakulam South</h2>

        </center>
     </div>
</head>
<body>
   
    <br>
    <br>
    <center>
        <div class="head-tag">
        <a href="/home"><strong>Back - Home</strong></a>
     
    </div>
    <br>
    <br>
    <br>
    
       {{msg}}
     <p2> 
        Our team will contact you for booking and further process. Thank You...</p2>         
    </center>
 
</body>
</html>