<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome Home!</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <div class="header">

        <center>
            <h1>Property.com - <i>Buy or Sell your properties</i></h1>
            <br>
           <h3>Ravipuram Road</h3>
           <h4>Ernakulam South</h4>
        </center>
     </div>
</head>
<body>
    <center>
    <br>
    <br>
    <div class="head-tag">
        <a href="/searchpuser"><strong>Search Property</strong></a>
        <a href="/sell"><strong>Sell Property</strong></a>
        <a href="/buy"><strong>Buy Property</strong></a>
        <a href="/logout"><strong>Logout</strong></a>

    </div>
    <br>
    <br>
</center>
<br>
<br>
<br>
<center>
    {{msg}}
<p> You can buy your dream home.....</p>

    <table>
        <tr>
            <td><img src="../static/images/property4.jpg"></td>
            <td><img src="../static/images/property5.jpg"></td>
            <td><img src="../static/images/property6.jpg"></td>
        </tr>
    </table>
    </center>   
    <div class="overlay-container">
        <div class="overlay">
           <div class="overlay-panel overlay-right">
             
           </div>   
        </div>
    </div>      
</body>

</html>