<!DOCTYPE html>
<html lang="en">
<head>
    <title>Property.com</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <div class="header">
      
        <center>
          <h1>Property.com - <i>Buy or Sell your properties</i></h1>
          <br>
          <h2>Ravipuram Road, Ernakulam South</h2>
        </center>
     </div>
     <center>
     <div class="head-tag">
        <a href="/"><strong>Home</strong></a>
        <a href="/reviews"><strong>Reviews</strong></a>
        <a href="/about"><strong>About Us</strong></a>
    </div>
    </center>
</head>
<body>
   
    <br>
    <br>
    <center>
    <div class="container" id="container">
        <div class="form-container log-in-container">
        	<form  action="/" method="post">
              <h1><i>Property.com</i></h1>
                   
              <br>
              <h2>Login</h2>
              <br>
              <input type="email" name="username" placeholder="Email"/>
              <input type="password" name="password" placeholder="Password"/>
              <a href="/fgtpswd">Forgot your password?</a>
              <br>
              <button type="submit" class="loginbtn">Login</button>
              <br>
              <a href="/register">New User? Click here to Register</a>
            </form>
           
        </div>
    </div>
    <br>
    <br>
    <div class="overlay-container">
        <div class="overlay">
           <div class="overlay-panel overlay-right">
             
           </div>   
        </div>
    </div>      

  </center>
   
</body>
</html>