<!DOCTYPE html>
<html lang="en">
<head>
    <title>Property.com</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        #p1{
            background-color:coral;
        }
        #p2{
            color: brown;
            font-size: 18px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }
        #p3{
            color:midnightblue;
        }
       
        
    </style>
      <div class="header">

        <center>
         <a href="/"><img src="../static/images/logo.jfif" alt="logo" /></a>
         <h1>Property.com -<i>Buy or Sell your properties</i></h1>
         <br>
        <h2>Ravipuram Road, Ernakulam South</h2>

        </center>
     </div>
</head>
<body>
   
    <br>
    <br>
    <center>
        <div class="head-tag">
        <a href="/"><strong>Home</strong></a>
        <a href="/reviews"><strong>Reviews</strong></a>
        <a href="/about"><strong>About Us</strong></a>
    </div>
    </center>
    <br>
    <br>
    <br>
        <br>
        <br>
        <table>
            <tr>
                <b>Arushi:</b>
            </tr>
            <tr>
                Very fast and good service. I found my dream home through this website.             
            </tr>
            <br>
            <br>
            <tr>
                ---------------------------------------------------------------------------------------------------
            </tr>
            <br>
            <br>
            <br>
            <tr>
               <b>Rohan:</b>
            </tr>
            <tr>
                Better user interface and easy searching criteria.
            </tr>
            <br>
            <br>
            <tr>
                ---------------------------------------------------------------------------------------------------
            </tr>
            <br>
            <br>
            <tr>
                <b>Jai:</b>
             </tr>
            <tr>
                Buying and posting ads are easy.
            </tr>
            <br>
            <br>
            <tr>
                ---------------------------------------------------------------------------------------------------
            </tr>
        </table>   
        <br>
        <br>
        <br>
                
    </center>
 
</body>
</html>