<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add New Property</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <div class="header">
      
        <center>
          <h1>Property.com - Buy or Sell your properties</h1>
          <br>
          <h2>Ravipuram Road, Ernakulam South</h2>
        </center>
     </div>
</head>
<body>
    <br>
    <br>
    <center>
           <p>Lets Refine Your Search Here.......</p>
      <form action="/usersearch" method="post">
        {{msg}}
        <table>
            
            <tr>
                <td><label for="LotArea">Lot Size in square feet</label></td>      
                <td><input type="text" name="LotArea"></td>
               
           
           
          </table>
          <button>Search</button>
          </form>
          <br>
        </center>
       
    </body>
    </html>
         