<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add New Property</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <div class="header">
      
        <center>
          <h1>Property.com - <i>Buy or Sell your properties</i></h1>
          <br>
          <h2>Ravipuram Road, Ernakulam South</h2>
        </center>
     </div>
</head>
<body>
    <br>
    <br>
    <center>
      <div class="head-tag">
      <a href="/backadminhome"><strong>Back - Admin Home</strong></a>
      <a href="/addpr"><strong>Add New Property</strong></a>
      <a href="/removepr"><strong>Remove Property</strong></a>
      </div>
     </center>
     <br>
     <br>
    <form action="/updatep" method="post">
     <center>
     <table>
     <tr>
        <td><label for="id">Enter the ID of the property to be updated</label></td>
        <td><input type="number" name="id"></td>
     <br>
     </table>
     <button type="submit" class="registerbtn">View Details</button>
     <br>
     </center>
     </form>
     </body>
     </html>